<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Password changed{% endblock %}

{% block content %}
<html lang="en">
    <h1>Password changed</h1>
    <p>Your password has been successfully changed</p>
</html>
{% endblock %}