<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
<html lang="en">
    <h1>Log-in</h1>
    <p>Please, use the following from to log-in:</p>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Log in"></p>
    </form>
</html>
{% endblock %}