<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Welcom{% endblock %}

{% block content %}
<html lang="en">
 <h1>Welcome</h1>
 <p>Your account has been successfully created.
    Now you can <a href="{% url 'login' %}">log in</a>.</p>
</html>
{% endblock %}